/**
 * @file config.h
 * @brief System Configuration Constants and Definitions
 * 
 */

#ifndef CONFIG_H
#define CONFIG_H

#include <stdint.h>

#define NOSTRIOT_DEVICE_VERSION (1)

// hardcode this for now nostr relay URI for now
// TODO: Move this to the WifiManager web configurator interface
#define NOSTR_RELAY_URI "wss://relay.nostriot.com"
#define NOSTR_PRIVATE_KEY "[YOUR NOSTR PRIVATE KEY IN HEX FORMAT]" // You can use https://nostrtool.com/ to generate a new key pair

// This is the d tag value that is added to the replacable DVM advert
#define DVM_ADVERTISEMENT_EVENT_D_TAG_VALUE "dvm-advert-1"

#define LNBITS_HOST_URL "[YOUR LNBITS HOST URL WITHOUT https:// e.g. demo.lnbits.com]"
#define LNBITS_PAYMENTS_ENDPOINT "/api/v1/payments" // usually don't change this
#define LNBITS_INVOICE_KEY "[YOUR LNBITS INVOICE KEY]"

#endif // CONFIG_H 